@import url('https://fonts.googleapis.com/css2?family=Poiret+One&display=swap');

body {
  background-color: moccasin;
}

body>h1 {
  text-align: center;
}

.display {
  /*text-align: center;
  display: block;
  background-color: orange*/
  width: 600px;
  height: 400px;
  background-color:steelblue;
  margin: auto;
}

.output {
  width: 580px;
  height: 365px;
  background-color: beige;
  margin: auto;
}

.search-button {
width: 80px;
height: 30px;
background-color: red;
position: relative;
}