@import url('https://fonts.googleapis.com/css2?family=Assistant&family=Roboto:ital,wght@0,300;1,300&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@300&family=Roboto:ital,wght@0,300;1,300&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@300&family=Poppins:ital@1&family=Roboto:ital,wght@0,300;1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@300&family=Poppins:ital@0;1&family=Roboto:ital,wght@0,300;1,300&display=swap');

body {
  background-color: whitesmoke
}

body>h1 {
  text-align: center;
  /*font-family: 'Assistant', sans-serif;*/
  font-family: 'Poppins', sans-serif;
  font-style: italic;
}

body>h2 {
  text-align: center;
  /*font-family: 'Assistant', sans-serif;*/
  font-family: 'Poppins', sans-serif;
  font-size: medium;
}

#pos {
  margin-left: 3em;
}

#def {
  font-family: 'Inconsolata', monospace;
}

.display {
  /*text-align: center;
  display: block;
  background-color: orange*/
  width: 50%;
  height: 90%;
  background-color: gainsboro;
  margin: auto;
  border: 2px solid blue;
  font-weight: bold;
  border-radius: 6px;
}

.output {
  /*width: 580px;
  height: 365px;*/
  width: auto;
  height: auto;
  background-color: gainsboro;
  margin: auto;
  border: 2px solid red;
  font-family: 'Assistant', sans-serif;
  border-radius: 4px;
}

.search {
  /*margin-top: 5px;
  margin-left: 10px;
  margin-bottom: 5px;*/
  width: 100%;
  height: 2em;
  font-style: italic;
  font-family: 'Assistant', sans-serif;
  position: static;
  background-color: lightgrey;
  border-radius: 2px;
}


.search-button {
  /*float: right;*/
  /*margin-top: 1px;
  margin-right: 1px;*/
  font-family: 'Assistant', sans-serif;
  background-color: tomato;
  border-radius: 2px;
}

.reset {
  /*margin-top: 5px;
  margin-right: 1px;*/
  font-family: 'Assistant', sans-serif;
  border-radius: 2px;
}

p {
  font-weight: bold;
  font-size: larger;
  margin-left: 1em;
}

.buttonContainer {
  display: flex;
  float: right;
  height: 2em;
  position: static;
}

.bar {
  display: flex;
}